{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="cs">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Zdravé recepty</title>
      <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        

      <script>
        $(document).foundation();
      </script>
    </head>
    <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
        	<li class="menu-text"><h3><a href="/">Recepty</a></h3></li>
	        {% if user.is_authenticated %}
				<li><a href="/novy">Přidat recept</span></a></li>
			{% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/breakfast">Snídaně a svačiny</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lunch">Obědy a večeře</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sweets">Zdravé mlsání</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/soup">Polévky</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/salad">Saláty a přílohy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drinks">Nápoje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bmi">BMI kalkulačka</a>
            </li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large primary">
      <div class="row column text-center">
        <h1 style="font-family: Lobster">Zdravé recepty</h1>
        <p class="subheader" style="font-family: Lobster">Zlepšete si svůj jídelníček rychlými a zdravými recepty.</p>
      </div>
    </div>

    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
            {% block content %}
            {% endblock %}
      </div>
    </div>
  </body>
</html>