{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <h2>{{ recipe.Recipe_Title }}</h2>
        <div class="date">
            <b><i>Datum: </i></b>{{ recipe.Recipe_Date }}
        </div>
        <div class="author">
        	<b><i>Přidal/a uživatel/ka: </i></b> {{ recipe.Recipe_Author }}
        </div>
        <div class="ingredients">
        	<b><i>Ingredience:</i></b>
        	<p>{{ recipe.Recipe_Ingredients|linebreaksbr }}</p>
        </div>
        <div class="description">
        	<b><i>Postup:</i></b>
        	<p>{{ recipe.Recipe_Description|linebreaksbr }}</p>
        </div>
        <div class="col-sm-4 text-right">
  <img src="{{ recipe.Recipe_Img.url }}" alt="{{ recipe.Recipe_Img.url }}" height="150px"
    style="border: 3px solid #F0C000; border-radius: 3px; padding: 2px;
    background-color: #F8FF95;">
</div>
    </div>
{% endblock %}
